@import "../../css/media-queries";

.partners {
    .row {
        display: flex;
        justify-content: center;
        max-width: 100%;

        &:not(:last-child) {
            margin-bottom: 4rem;
        }

        @include phone {
            flex-direction: column;
            width: 80%;
            margin-bottom: 0;
        }

        &--first {
            img {
                height: 4rem;
                width: auto;
            }
        }

        &--second {
            img {
                height: 8rem;
                width: auto;
            }
        }

        .partner {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 100%;

            &:not(:last-child) {
                margin-right: 4rem;

                @include phone {
                    margin-bottom: 4rem;
                    margin-right: 0;
                }
            }
        }
    }

    .header {
        width: 80%;
        margin-bottom: 4rem;
        color: var(--red);
        font-family: "Bodoni Moda", serif;
        font-size: 3rem;
        font-weight: 700;
        text-align: center;

        @include phone {
            width: 100%;
        }
    }
}
