.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 0.5rem;
    padding: 1.25rem;
    background-color: var(--red);
    color: var(--cream);
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
}
